.rs-dropdown.my-dropdown {
    
    &>.rs-dropdown-menu {
        min-width: 100%;

        &>.rs-dropdown-item.my-dropdown-item {

            &:hover {
                background-color: rgb(139, 196, 243);
            }

            &.selected,
            &.selected:hover {
                background-color: steelblue;
                color: white;

                & * {
                    color: white;
                }
            }
        }

    }


}