@import url('https://rsms.me/inter/inter.css');

.table-pagination {
    // font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    .table-pagination {
        // font-family: 'Inter var', sans-serif;
    }
}

$bg-item-color:#3f3f3f;

.table-pagination {


    * {
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        user-select: none;
        transition: all 200ms ease;
        color: white;

        &:focus {
            outline: none;
        }
    }

    .hide {
        display: none;
        visibility: hidden;
        height: 0;
    }

    .pagination\:container {
        display: flex;
        align-items: center;
    }

    .arrow\:text {
        display: block;
        vertical-align: middle;
        font-size: 13px;
    }

    .pagination\:number.arrow {
        padding: 0 14px;
    }
  
    .pagination\:number {
        --size: 32px;
        --margin: 6px;
        margin: 0 var(--margin);
        border-radius: 6px;
        background: $bg-item-color;
        max-width: auto;
        min-width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 6px;
        &.pagination\:none-page{
            cursor: default;
        } 
        &:not(.pagination\:none-page):hover {
            background: lighten($bg-item-color, 20%);
        }

        &:not(.pagination\:none-page):active {
            background: darken($bg-item-color, 5%);
        }
    }

    .pagination\:active {
        background: #37618b;
        position: relative;
    }
}