@import "../../styles/scss/variable";

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}

button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

// some basic page styles
body {}


// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;
$buton-auth-height:40px;

// gradient animation
@keyframes gradient {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 100% 0
    }
}

.input-auth-form {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    label {
        color: white;
        font-size: 18px;
        margin: 20px 5px 10px;
        font-family: $BodyFontFamilty;
    }
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1rem 2rem 1.1rem;
    background: $input-background;

    &:after {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 999;
        height: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-position: 0% 0%;
        background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
        background-size: 500% auto;
        animation: gradient 3s linear infinite;
    }
}

.webflow-style-input input {
    flex-grow: 1;
    color: $input-text-active;
    font-size: 1.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    font-family: $BodyFontFamilty;

    &::-webkit-input-placeholder {
        color: $input-text-inactive;
    }
}

.webflow-style-input button {
    color: $input-text-inactive;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;

    &:hover {
        color: $input-text-active;
    }
}

.button-auth-form {
    transition: 0.2s;
    background-color: royalblue;
    color: white;
    padding: 1.4rem 0;
    text-align: center;
    position: relative;
    width: 100%;
    opacity: 0.8;

    &.is-loading,
    &.is-loading:not([disabled]):hover {
        opacity: 0.8;
    }

    &:not([disabled]):hover {
        opacity: 1;
    }

    &[disabled] {
        opacity: 0.6;

    }
}


.form-panel-group {
    font-size: 18px;

    .form-panel-label,
    .form-panel-input {
        font-size: 18px;
    }

    .form-panel-error {
        font-size: 14px;
    }
}