// @import "compass/css3";

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 700px; // adjust to your needs

.rwd-table {
    margin: 1em 0;
    // min-width: 300px; // adjust to your needs
    width: 100%;
    direction: rtl;

    tr {
        // border-top: 1px solid #ddd;
        // border-bottom: 1px solid #ddd;
    }

    th {
        display: none;
        // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    }

    td {
        text-align: center;
        display: block;

        @media (min-width: $breakpoint-alpha) {
            text-align: right;
        }

        &:first-child {
            padding-top: .5em;
            user-select: none;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)""; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: center;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }


}


// presentational styling

// $bg-table-color-1:#34495E;
$bg-table-color-1:#555;

.rwd-table {
    a.ancor-icon {
        text-decoration: none;
        color: white;
    }

    .managment-talbe-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .managment-talbe-icon {
            margin: 0 5px;
            transition: 0.2s;
            background-color: transparent;
            border-radius: 50%;
            display: block;
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;

            &:hover {
                background-color: #ffffff21;
            }
        }
    }

    h1 {
        font-weight: normal;
        letter-spacing: -1px;
        color: $bg-table-color-1;
    }

    background: $bg-table-color-1;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;

    tbody tr {
        background-color: transparent;
        transition: 0.3s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.082);
        }

        @media (min-width: $breakpoint-alpha) {
            border-top: 1px solid transparent;
        }
    }

    tr {
        border-color: lighten($bg-table-color-1, 20%);
    }

    th,
    td {
        margin: .5em 1em;

        @media (min-width: $breakpoint-alpha) {
            padding: 1em !important;

        }
    }

    th,
    td:before {
        color: #dd5;
    }
}

@media screen and (max-width: $breakpoint-alpha) {
    .rwd-table tbody tr {
        & {
            border-bottom: 1px solid #ddd;
        }

        td {
            text-align: right;
            padding:2px 0 ;
            &::before {
                width: 160px;
            }
        }
    }
}