@import "./styles/scss/index.scss";
@import "./screens/screens.scss";
@import "./common/form/ui/form.scss";
@import "./components/form/form.scss";
@import "./components/loading/spinner.scss";
@import "./components/UI/ui.scss";

// reset
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
ul,
li {margin: 0;padding: 0;}
li {list-style: none;}
a { text-decoration: none;}
.cursor-pointer {cursor: pointer;}
.text-muted-light {color: #b5b8bb !important}
body {background-color: #1D1F20;}

.them1 {&.body {background-color: #1D1F20;}}
.overflow{
    &-y{
        &-auto{
            overflow-y: auto;
        }
    }
}