body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /* background-color: rgba(3, 120, 199, 0.966); */
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
}

.rsuite .rs-nav.rs-nav-vertical .rs-dropdown>.rs-dropdown-toggle {
  text-align: right;

}


.rsuite .rs-dropdown-item-submenu {
  text-align: right;

}

.rsuite .rs-dropdown-item {
  text-align: right;

}

.rsuite .rs-sidenav .rs-nav-item .rs-nav-item-content>.rs-icon,
.rsuite .rs-sidenav .rs-dropdown .rs-dropdown-toggle>.rs-icon {
  right: 0;
  /* margin: 0; */
}

.rsuite .rs-sidenav .rs-nav-item .rs-nav-item-content,
.rsuite .rs-sidenav .rs-dropdown .rs-dropdown-toggle {
  padding-left: 0;
  padding-right: 45px;
  right: unset;
}

.rsuite .rs-sidenav .rs-dropdown .rs-dropdown-toggle .rs-dropdown-toggle-caret,
.rsuite .rs-sidenav .rs-dropdown .rs-dropdown-toggle .rs-dropdown-toggle-caret {
  left: 0;
  margin-left: 20px;
  right: unset;
}

.rsuite .rs-dropdown-toggle-caret {
  margin-left: 20px;
  left: 0;
  width: 10px;
  right: unset;
}

.rsuite .rs-sidenav-collapse-in .rs-dropdown-item-submenu>.rs-dropdown-item-content>.rs-dropdown-menu-toggle>.rs-dropdown-menu-toggle-icon {
  left: 0;
  margin-left: 20px;
  right: unset;
}

.violet-gradient {
  background-color: #a4508b;
  background-image: linear-gradient(170deg, #a4508b 0%, #5f0a87 74%);
  width: 100%;
  height: 60px;
}