
@font-face {
    font-family: FP_Chamran;
    src: url("../../assets/fonts/fa/FP_Chamran.ttf");
}
@font-face {
    font-family: FP_Chamran_Black;
    src: url("../../assets/fonts/fa/FP_Chamran\ black.ttf");
}
@font-face {
    font-family: IRANDorandis;
    src: url("../../assets/fonts/fa/IRANDorandis.ttf");
}
@font-face {
    font-family: IRANSans;
    src: url("../../assets/fonts/fa/IRANSans.ttf");
}
@font-face {
    font-family: IRANSans_Black;
    src: url("../../assets/fonts/fa/IRANSans_Black.ttf");
}

@font-face {
    font-family: IRANSans_Bold;
    src: url("../../assets/fonts/fa/IRANSans_Bold.ttf");
}
@font-face {
    font-family: IRANSans_Light;
    src: url("../../assets/fonts/fa/IRANSans_Light.ttf");
}
@font-face {
    font-family: IRANSans_UltraLight;
    src: url("../../assets/fonts/fa/IRANSans_UltraLight.ttf");
}
@font-face {
    font-family: IRANSansDN;
    src: url("../../assets/fonts/fa/IRANSansDN.ttf");
}
@font-face {
    font-family: IRANSansDN-Bold;
    src: url("../../assets/fonts/fa/IRANSansDN-Bold.ttf");
}

@font-face {
    font-family: IRANSansDN_Light;
    src: url("../../assets/fonts/fa/IRANSansDN_Light.ttf");
}

@font-face {
    font-family: IRANYekanExtraBold;
    src: url("../../assets/fonts/fa/IRANYekanExtraBold.ttf");
}


@font-face {
    font-family: IRANYekanLight;
    src: url("../../assets/fonts/fa/IRANYekanLight.ttf");
}


@font-face {
    font-family: IRANYekanMedium;
    src: url("../../assets/fonts/fa/IRANYekanMedium.ttf");
}

@font-face {
    font-family: IRANYekanRegular;
    src: url("../../assets/fonts/fa/IRANYekanRegular.ttf");
}

@font-face {
    font-family: Ray-Black;
    src: url("../../assets/fonts/fa/Ray-Black.ttf");
}

@font-face {
    font-family: Ray-Bold;
    src: url("../../assets/fonts/fa/Ray-Bold.ttf");
}

@font-face {
    font-family: Ray-ExtraBold;
    src: url("../../assets/fonts/fa/Ray-ExtraBold.ttf");
}
@font-face {
    font-family: Ray-Light;
    src: url("../../assets/fonts/fa/Ray-Light.ttf");
}
@font-face {
    font-family: Ray-Medium;
    src: url("../../assets/fonts/fa/Ray-Medium.ttf");
}
@font-face {
    font-family: Ray;
    src: url("../../assets/fonts/fa/Ray.ttf");
}
@font-face {
    font-family: Roya-bakh-book;
    src: url("../../assets/fonts/fa/Roya\ bakh\ book.ttf");
}
@font-face {
    font-family: Roya-black;
    src: url("../../assets/fonts/fa/Roya\ black.ttf");
}
@font-face {
    font-family: Yazd;
    src: url("../../assets/fonts/fa/Yazd.ttf");
}


@font-face {
    font-family: Yekan-Bakh;
    src: url("../../assets/fonts/fa/Yekan\ Bakh.ttf");
}

@font-face {
    font-family: YekanBakh_Light;
    src: url("../../assets/fonts/fa/YekanBakh_Light.ttf");
}